@import '../variables.scss';
@import '../breakpoints.scss';

.home {
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__header {
		background-image: url('/home-page-header.jpeg');
		background-position: center;
		background-position-x: 50%;
		background-position-y: 50%;
		background-size: cover;
		height: 206px;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 28px;
		font-weight: 400;
		line-height: 33px;
	}

	&__name-outer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__name-middle {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		font-size: 42px;
		line-height: 50px;
		text-transform: uppercase;
	}

	&__name-full {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 12px;
	}

	&__name-connection {
		font-family: 'Questrial', serif;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	&__wedding-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;

		&::before,
		&::after {
			content: ' ';
			display: block;
			background-position-x: 50%;
			background-position-y: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			height: 65px;
			width: 100vw;
		}

		&::before {
			background-image: url('/date-accent-left@2x.png');
		}

		&::after {
			background-image: url('/date-accent-right@2x.png');
		}
	}

	&__wedding-info-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	&__date {
		display: flex;
		gap: 10px;
		font-size: 30px;
		line-height: 36px;
	}

	&__location {
		font-family: 'Questrial', serif;
		font-size: 16px;
		letter-spacing: 4px;
		line-height: 19px;
	}

	&__about-us-container {
		padding: 20px;
	}

	&__about-us {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding: 40px 20px;

		&:not(:last-child) {
			border-bottom: 1px solid #000;
		}

		&__header {
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: center;
		}

		&__title {
			font-size: 38px;
			line-height: 45px;
			text-transform: uppercase;
		}

		&__subtitle {
			font-family: 'Questrial', serif;
			font-size: 16px;
			letter-spacing: 3px;
			line-height: 19px;
		}

		&__description {
			font-size: 17px;
			letter-spacing: 1px;
			line-height: 24px;
		}
	}

	/*
		Tablet query
	*/
	@include md {
		gap: 60px;

		&__header {
			height: 700px;
			font-size: 72px;
			line-height: 86px;
		}

		&__name-outer {
			gap: 10px;

			&::before,
			&::after {
				content: ' ';
				display: inline-block;
				background-position-x: 100%;
				background-position-y: 50%;
				background-repeat: no-repeat;
				background-size: contain;
				height: 400px;
				width: 141px;
				vertical-align: middle;
			}

			&::before {
				background-image: url('/name-accent-left@2x.png');
			}

			&::after {
				background-image: url('/name-accent-right@2x.png');
			}
		}

		&__name-middle {
			font-size: 56px;
			line-height: 67px;
		}

		&__name-full {
			flex-direction: column;
			align-items: center;
			gap: 0;
		}

		&__name-connection {
			font-size: 14px;
			line-height: 20px;
		}

		&__date {
			font-size: 56px;
			line-height: 67px;
		}

		&__location {
			font-size: 14px;
			line-height: 16px;
		}

		&__about-us-container {
			display: flex;
			flex-direction: column;
		}

		&__about-us {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 80px 80px;
			height: 100%;
			gap: 40px;

			&:not(:last-child) {
				border-bottom: unset;
			}

			&__header {
				height: 100%;

				&::after {
					content: ' ';
					display: block;
					background-image: url('/story-accent@2x.png');
					background-position-x: 50%;
					background-position-y: 50%;
					background-repeat: no-repeat;
					background-size: contain;
					height: 74px;
					width: 150px;
				}
			}

			&__subtitle {
				font-size: 14px;
				line-height: 16px;
			}

			&__description {
				position: relative;
				text-align: center;
				font-size: 21px;
				line-height: 28px;

				&::before {
					position: absolute;
					left: -26px;
					top: -25px;
					content: ' ';
					display: block;
					height: 120%;
					width: 1px;
					background-color: #000;
				}
			}

			&__header,
			&__description {
				flex: 1;
				max-width: 320px;
			}
		}
	}

	/*
		Desktop query
	*/
	@include lg {
		gap: 70px;

		&__name-full {
			flex-direction: row;
			align-items: center;
			gap: 20px;
		}

		&__name-outer {
			&::before,
			&::after {
				height: 450px;
				width: 178px;
			}
		}

		&__wedding-info {
			flex-direction: row;
			padding-top: 30px;

			&::before,
			&::after {
				height: 91px;
				width: 180px;
			}
		}

		&__wedding-info-inner {
			gap: 30px;
		}

		&__about-us {
			&__header,
			&__description {
				max-width: 370px;
			}
		}
	}
}
