@import './variables.scss';
@import './breakpoints.scss';

.header {
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	width: 100vw;
	height: $header-mobile-height;

	&__menu-btn {
		cursor: 'pointer';
		background-color: #fff;
		border-style: none;
		position: absolute;
		top: 0;
		left: 0;
		align-self: center;
		height: $header-mobile-height;
		width: $header-mobile-height;

		&--hidden {
			display: none;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			background: #000;
			width: 30px;
			height: 4px;
			position: absolute;
			left: 6px;
			transform-origin: center center;
			transform: rotate(0deg);
			transition: all 0.3s ease;
		}

		&::before {
			top: 15px;
			margin-top: -2px;
		}

		&::after {
			bottom: 16px;
			margin-bottom: -2px;
		}

		span {
			display: block;
			background: #000;
			width: 30px;
			height: 4px;
			margin-top: -3px;
			position: absolute;
			left: 6px;
			top: 50%;
		}
	}

	&__menu-close-btn {
		cursor: 'pointer';
		z-index: 10000;
		position: absolute;
		top: 0;
		left: 0;
		height: $header-mobile-height;
		width: $header-mobile-height;
		background-color: #fff;
		border-style: none;

		&::before,
		&::after {
			content: '';
			display: block;
			background: #000;
			width: 18px;
			height: 2px;
			position: absolute;
			left: 10px;
			transform-origin: center center;
		}

		&::before {
			top: 50%;
			transform: rotate(45deg);
		}

		&::after {
			bottom: 50%;
			transform: rotate(-45deg);
			margin-bottom: -2px;
		}

		&--hidden {
			display: none;
		}
	}

	&__wedding-info {
		display: none;
	}

	&__title {
		text-align: center;
		font-size: 26px;
		line-height: 31px;
		letter-spacing: normal;
	}

	&__nav {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding-top: 60px;
		background-color: #fff;
		opacity: 0.9;
		font-size: 28px;
		line-height: 40px;
		letter-spacing: 3px;

		&--hidden {
			display: none;
		}
	}

	&__nav-item {
		&:hover,
		&--active {
			text-decoration: underline;
		}
	}

	@include sm {
		height: $header-tablet-height;

		&__menu-btn {
			top: 15px;
		}
	}

	@include lg {
		height: $header-desktop-height;
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: unset;
		gap: 10px;

		&__menu-btn,
		&__menu-close-btn {
			display: none;
		}

		&__title {
			font-size: 42px;
			line-height: 46px;
		}

		&__nav {
			position: static;
			top: unset;
			left: unset;
			height: auto;
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding-top: 0;
			gap: 20px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 3px;
			align-self: center;
		}

		&__wedding-info {
			display: flex;
			gap: 25px;
			font-weight: 600;
			font-size: 16px;
			letter-spacing: 1.2px;
			line-height: 17.6px;
		}
	}
}
