.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 20px;
	gap: 50px;
}

.page-header {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	width: 100vw;

	&::after {
		background-image: url('/page-description-bottom@2x.png');
		content: ' ';
		display: block;
		background-position-x: 50%;
		background-position-y: 50%;
		background-repeat: no-repeat;
		background-size: contain;
		height: 100px;
		width: calc(100vw - 20px);
	}
}

.page-title {
	font-size: 48px;
	line-height: 52px;
	text-align: center;

	@include md {
		font-size: 56px;
		line-height: 61px;
	}

	@include lg {
		display: none;
	}
}

.page-description {
	max-width: 680px;
	padding: 20px 20px 0 20px;
	text-align: center;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 24px;

	@include md {
		font-size: 21px;
		line-height: 28px;
	}
}

.primary-button {
	min-width: 200px;
	width: auto;
	height: 36px;
	background-color: #166a63;
	color: #fff;
	border-style: unset;
}

// Card utilities

@mixin card-spacing {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.card-list {
	@include card-spacing();
}

.card {
	@include card-spacing();
	padding-bottom: 10px;
}

.card-header {
	@include card-spacing();
}

.card-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 38px;
	line-height: 41px;
}

.card-subtitle {
	text-transform: uppercase;
	font-family: 'Questrial', serif;
	text-align: center;
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 17px;
}

.card-content {
	@include card-spacing();
}

.card-description {
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	letter-spacing: 1px;

	@include md {
		font-size: 21px;
		line-height: 28px;
	}
}
